@if (form.get('password').dirty && form.get('password').errors) {
  <div
    class="w-1/2"
    >
    <div class="flex gap-2">
      <div
        class="w-full h-[10px] bg-[#f0f0f0] rounded-[5px]"
        [ngClass]="{ 'bg-green-700': countValidation >= 1 }"
      ></div>
      <div
        class="w-full h-[10px] bg-[#f0f0f0] rounded-[5px]"
        [ngClass]="{ 'bg-green-700': countValidation >= 2 }"
      ></div>
      <div
        class="w-full h-[10px] bg-[#f0f0f0] rounded-[5px]"
        [ngClass]="{ 'bg-green-700': countValidation >= 3 }"
      ></div>
      <div
        class="w-full h-[10px] bg-[#f0f0f0] rounded-[5px]"
        [ngClass]="{ 'bg-green-700': countValidation >= 4 }"
      ></div>
      <div
        class="w-full h-[10px] bg-[#f0f0f0] rounded-[5px]"
        [ngClass]="{ 'bg-green-700': countValidation >= 5 }"
      ></div>
    </div>
    @if (form.get('password').hasError('passwordStrength')) {
      <div
        class="text-red-700 dark:text-green-600"
        >
        {{ form.get("password").errors["passwordStrength"] | transloco }}
      </div>
    }
  </div>
}
