<!-- autoplayInterval="3000"> -->
<div class="cs:p-0 sm:px-[34px] px-4">
    <div class="w-full relative">
        <p-carousel
            #carusel
            [value]="events"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [showIndicators]="false"
            [autoplayInterval]="6000"
        >
            <ng-template pTemplate="previousicon">
                <div
                    class="w-[44px] h-[44px] flex justify-center items-center rounded-full bg-[#B6B9C3] dark:bg-[#4A4C5A]"
                >
                    <i class="pi pi-chevron-left text-white"></i>
                </div>
            </ng-template>
            <ng-template pTemplate="nexticon">
                <div
                    class="w-[44px] h-[44px] flex justify-center items-center bg-[#B6B9C3] dark:bg-[#4A4C5A]"
                >
                    <i class="pi pi-chevron-right text-white"></i>
                </div>
            </ng-template>

            <ng-template let-event pTemplate="item">
                <div class="md:flex gap-4 w-full">
                    <div
                        class="bg-[#F7F8F8] dark:bg-[#383942] p-[30px] md:rounded-[32px] rounded-t-[32px] sm:block hidden"
                    >
                        @if (!isMobile) {
                        <img
                            [src]="url + event.imageFileId"
                            class="cs:min-w-[420px] min-w-[300px] w-full h-[270px] rounded-[16px]"
                            alt=""
                        />
                        }
                    </div>
                    <div
                        class="bg-[#F7F8F8] dark:bg-[#383942] p-[30px] md:rounded-[32px] sm:rounded-b-[32px] sm:rounded-t-none rounded-[32px] w-full flex flex-col justify-between"
                    >
                        <h4
                            class="heading sm:text-[32px] text-[24px] line-clamp-1 sm:mb-0 mb-4 sm:leading-[44px] leading-8"
                            [matTooltip]="
                                event | appTranslateAsync : 'name' | async
                            "
                        >
                            {{ event | appTranslateAsync : "name" | async }}
                        </h4>
                        <div class="flex sm:flex-row flex-col sm:gap-14 gap-4">
                            <div class="flex gap-2">
                                <div
                                    class="w-10 h-10 flex justify-center bg-white dark:bg-[#25262C] items-center rounded-full border border-[#EDEDF1] dark:border-[#383942]"
                                >
                                    <mat-icon
                                        svgIcon="calendarLanding"
                                        class="text-[#0CAEEB] text-[14px]"
                                    ></mat-icon>
                                </div>
                                <div>
                                    <p
                                        class="font-medium text-[#707587] dark:text-[#B6B9C3]"
                                    >
                                        {{ "Date" | transloco }}
                                    </p>
                                    <p
                                        class="text-[#25262C] font-semibold dark:text-white"
                                    >
                                        {{ event.eventDate }}
                                    </p>
                                </div>
                            </div>
                            <div class="flex gap-2">
                                <div
                                    class="min-w-10 max-w-10 min-h-10 max-h-10 flex justify-center bg-white dark:bg-[#25262C] items-center rounded-full border border-[#EDEDF1] dark:border-[#383942]"
                                >
                                    <mat-icon
                                        svgIcon="locationLanding"
                                        class="text-[14px]"
                                    ></mat-icon>
                                </div>
                                <div>
                                    <p
                                        class="font-medium text-[#707587] dark:text-[#B6B9C3]"
                                    >
                                        {{ "Address" | transloco }}
                                    </p>
                                    @if (event | appTranslateAsync : "address" |
                                    async; as address) {
                                    <p
                                        class="text-[#25262C] cursor-pointer line-clamp-1 dark:text-white font-semibold"
                                        [pTooltip]="address"
                                    >
                                        {{ address }}
                                    </p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="w-full mt-2">
                            <app-eventsLoop [eventBox]="event"></app-eventsLoop>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        @if (!events) {
        <div class="flex gap-4 w-full basis-full">
            <p-skeleton styleClass="w-[480px] h-[332px]"></p-skeleton>
            <p-skeleton styleClass="w-[704px] h-[332px]"></p-skeleton>
        </div>
        }
    </div>
</div>
