<div class="w-full h-screen flex flex-col">
  <div class="flex w-full h-full">
    <div
      class="h-full w-full flex items-center flex-col justify-center cs:px-0 px-4"
      >
      <h3 class="text-[25px] text-center">
        {{ "reset.password" | transloco }}
      </h3>
      <div>
        @if (type == 'email') {
          <div
            class="flex flex-col rounded-[10px] gap-[15px] p-[40px]"
            [formGroup]="forgotPasswordControl"
            >
            <div class="sm:w-[400px] w-[350px]">
              <app-input-forms
                [inputFormsData]="formsData"
                [groupName]="forgotPasswordControl"
              ></app-input-forms>
            </div>
            <button
              class="px-[20px] rounded-[10px] py-[10px] bg-green-600 text-white disabled:bg-[#aeaeae]"
              [disabled]="forgotPasswordControl.invalid"
              (click)="sendEmailCode()"
              >
              {{ "send.to" | transloco }}
            </button>
            <p class="text-[16px] text-center font-medium">
              {{ "alreadyHaveanAccount" | transloco }}
              <a
                class="underline text-green-600 font-semibold"
                routerLink="/sign-in"
                >{{ "sign_in" | transloco }}</a
                >
              </p>
            </div>
          }
          @if (type == 'confirm') {
            <div class="p-[30px] w-full">
              <p class="text-[22px] font-semiboldm my-[15px] text-center">
                {{ "enter.verification.code" | transloco }}
              </p>
              <div class="w-full flex justify-center mb-[20px]">
                <div class="flex gap-[10px]" [formGroup]="confirm">
                  <input
                    type="text"
                    class="w-[52px] h-[50px] rounded-[10px] border-2 p-[10px] text-[25px] font-semibold text-[#01A559] border-[#01A559]"
                    [maxLength]="1"
                    formControlName="a"
                    id="verification1"
                    (input)="tabPress(2)"
                    />
                    <input
                      type="text"
                      class="w-[52px] h-[50px] rounded-[10px] border-2 p-[10px] text-[25px] font-semibold text-[#01A559] border-[#01A559]"
                      [maxLength]="1"
                      formControlName="b"
                      id="verification2"
                      (input)="tabPress(3)"
                      />
                      <input
                        type="text"
                        id="verification3"
                        class="w-[52px] h-[50px] rounded-[10px] border-2 p-[10px] text-[25px] font-semibold text-[#01A559] border-[#01A559]"
                        [maxLength]="1"
                        (input)="tabPress(4)"
                        formControlName="c"
                        />
                        <input
                          type="text"
                          class="w-[52px] h-[50px] rounded-[10px] border-2 p-[10px] text-[25px] font-semibold text-[#01A559] border-[#01A559]"
                          [maxLength]="1"
                          id="verification4"
                          formControlName="d"
                          />
                        </div>
                      </div>
                      <div class="flex justify-center">
                        <button
                          class="bg-[#01A559] sm:w-[400px] w-[350px] text-white h-[40px] rounded-[10px] disabled:bg-[#aeaeae]"
                          (click)="confirmUser()"
                          [disabled]="confirm.invalid"
                          >
                          {{ "popgo" | transloco }}
                        </button>
                      </div>
                    </div>
                  }
                  @if (type == 'password') {
                    <div
                      class="sm:w-[400px] w-[350px] p-[30px] flex flex-col gap-[20px]"
                      [formGroup]="resetPassword"
                      >
                      <app-input-forms
                        [inputFormsData]="password"
                        [groupName]="resetPassword"
                      ></app-input-forms>
                      @if (resetPassword.get('newpassword').dirty) {
                        <div
                          class="flex flex-col gap-[20px]"
                          >
                          <div class="flex gap-[10px]">
                            <div
                              class="w-full h-[10px] bg-[#f0f0f0]"
                                [ngClass]="{
                                    'bg-green-700': countValidation >= 1
                                }"
                            ></div>
                            <div
                              class="w-full h-[10px] bg-[#f0f0f0]"
                                [ngClass]="{
                                    'bg-green-700': countValidation >= 2
                                }"
                            ></div>
                            <div
                              class="w-full h-[10px] bg-[#f0f0f0]"
                                [ngClass]="{
                                    'bg-green-700': countValidation >= 3
                                }"
                            ></div>
                            <div
                              class="w-full h-[10px] bg-[#f0f0f0]"
                                [ngClass]="{
                                    'bg-green-700': countValidation >= 4
                                }"
                            ></div>
                            <div
                              class="w-full h-[10px] bg-[#f0f0f0]"
                                [ngClass]="{
                                    'bg-green-700': countValidation >= 5
                                }"
                            ></div>
                          </div>
                          @if (
                            resetPassword
                            .get('newpassword')
                            .hasError('passwordStrength')
                            ) {
                            <div
                              class="text-red-700"
                              >
                              {{
                              resetPassword.get("newpassword").errors[
                              "passwordStrength"
                              ]
                              }}
                            </div>
                          }
                        </div>
                      }
                      <button
                        class="bg-[#01A559] w-full text-white disabled:bg-[#aeaeae] h-[40px] rounded-[10px]"
                        (click)="resetPasswordFunc()"
                        [disabled]="resetPassword.invalid"
                        >
                        {{ "SAVE" | transloco }}
                      </button>
                    </div>
                  }
                </div>
              </div>
              <div
                class="h-full w-full md:flex hidden items-center justify-center bg-[#f7f7f5]"
                @fadeInRight
                >
                <img
                  src="./assets/signIn/man.png"
                  alt=""
                  class="w-[590px] h-[590px]"
                  />
                </div>
              </div>
              <div class="bg-black">
                <app-footer></app-footer>
              </div>
            </div>
