:host ::ng-deep .apexcharts-legend-series {
    display: flex !important;
    align-items: center;
    gap: 8px;
}
:host ::ng-deep .apexcharts-legend-text {
    display: flex !important;
    height: 100%;
}
:host
    ::ng-deep
    .apexcharts-legend.apx-legend-position-top.apexcharts-align-left {
    left: 0 !important;
    gap: 40px;
}
@media screen and (max-width: 600px) {
    :host
        ::ng-deep
        .apexcharts-legend.apx-legend-position-top.apexcharts-align-left {
        left: 0 !important;
        gap: 100px;
    }

}
.dark {
    :host ::ng-deep  .apexcharts-text tspan {
        fill: #D8DADF !important;
    }
    :host ::ng-deep .apexcharts-backgroundBar
    {
        fill: #383942 !important
    }
    :host ::ng-deep .apexcharts-tooltip-title
    {
        background: #25262c !important;
    }
}
