<div class="w-full max-w-7xl mx-auto sm:p-[30px] p-[10px]">
  @if (events.length !== 0) {
    <h3 class="md:text-[30px] text-[20px] font-bold md:mb-[30px] mb-[10px]">
      {{ "my.events" | transloco }}
    </h3>
    <div class="grid md:grid-cols-3 sm:grid-cols-3 grid-cols-1 gap-[20px]">
      @for (event of events; track event) {
        <div class="rounded-[10px]">
          <app-carusel
            [isCircle]="false"
            inputHeight="h-[250px]"
          [event]="event" [eventType]="1"></app-carusel>
        </div>
      }
    </div>
  } @else {
    @if (!resultExist) {
      <div
        class="w-full h-full flex items-center justify-center"
        >
        <p class="md:text-4xl text-xl font-bold greenText">
          {{ "no.info.your.result" | transloco }}
        </p>
      </div>
    }
  }
</div>
