// :host .linearGradient {
//     background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 29.83%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 69.83%, #FFFFFF 100%);
// }
.changeGap
{
    gap: 12px;
}
.opacity0
{
    opacity: 0;
}
.textGreen{
    color: #67bd50;
}
